* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
}

body {
    background-color: cornflowerblue;
    line-height: 1.4;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    background-color: orange;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

h2 {
    display: flex;
    justify-content: center;
    background-color:orange
}






















footer {
    color:black;
    background-color:whitesmoke;
    text-align: center;         
}

footer a {
    color: red;
    text-decoration: none;
    transition: blue 0.3 ease;
}

footer a:hover {
    color: chartreuse;
}
