* {
    margin: 2;
    padding: 1;
    box-sizing: border-box;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
}

body {
    background-color: cornflowerblue;
    line-height: 1.4;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    background-color: orange;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: auto;
}

h2 {
    display: flex;
    justify-content: center;
    background-color:rgb(15, 216, 15);
    border-radius: 4px;
}

h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(15, 216, 15);
    border-radius: 4px;
    font-size: 1.5em;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    background-color:rgb(15, 216, 15);
    border-radius: 4px;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    background-color: orange;
    border-radius: 4px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

section {
    font-size: 18px;
    margin-bottom: 40px;
}





























footer {
    color:black;
    background-color:whitesmoke;
    text-align: center;
    padding: 25px;
    margin: 1px;  
    font-size: 2em;
}

footer a {
    color: red;
    text-decoration: none;
    transition: blue 0.3 ease;
}

footer a:hover {
    color: chartreuse;
    
}

